


@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  transition: all .5s ease;
  overflow-x: hidden; /* Disable horizontal scroll */

  
}
.sidebar header{
  font-size: 28px;
  color: rgb(17, 4, 4);
  line-height: 70px;
  text-align: center;
  background: #cababa;
  user-select: none;

  font-family: 'Montserrat', sans-serif;
}



#check{
  display: none;
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}





.fas {
  margin: 8px;
}

#role {
  margin: 8px !important;
}

.nav-item {
  align-items: flex-start;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
